*{
	font-family: Verdana;
	background-color: black;
	text-align: center;
}

#link{
	color: aquamarine;
	font-size: 16px;
	background-color: transparent;
	text-decoration: none;
}

h1{
	font-weight: normal;
	font-size: 50px;
	color: white;
}

h2{
	font-weight: 300;
	font-size: 42px;
	color: white;
}

h3{
	font-size: 21px;
	color: gray;
}

#footer{
	color: gray;
	text-align: right;
}
